.container {
display: grid;
    /*grid-template-columns: [column-1] auto [column-2] auto [column-3] auto;*/
    grid-template-rows: 50px 190px auto 50px;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 10px;
    row-gap: 10px;
    background-color: beige;
    padding: 10px;
    grid-template-areas:
    "area-a area-c area-c"
    "area-b area-c area-c"
    "area-b area-e area-d"
    "area-f area-f area-f";
}

div {
    display: flex;
    justify-content: center;
    background-color: indianred;
    border-style: solid;
    border-color: darkred;
    border-width: 2px;
    color: white;
    }

.section-a {
    grid-area: area-a;
}

.section-b {
    grid-area: area-b;
}

.section-c {
    grid-area: area-c;
}

.section-d {
    grid-area: area-d;
    min-height: 100px;
    height: auto;
}

.section-e {
    grid-area: area-e;
}

.section-f {
    grid-area: area-f;
}

.section-x {
    grid-area: area-x;
    display: none;
}

p {
    margin: auto;
}

#sample-text {
    margin: 15px
}

@media (max-width: 576px) {
    .container {
        grid-template-rows: 50px auto 50px 50px 50px 50px 50px;
        grid-template-columns: 1fr;
        grid-template-areas:
                "area-a"
                "area-b"
                "area-c"
                "area-d"
                "area-e"
                "."
                "area-f";
    }

    .section-b {
        grid-area: area-b;
        height: auto;
    }

    .section-x {
        grid-area: area-x;
    }

    .section-d {
        grid-area: area-d;
        min-height: initial;
    }
}